.portfolioList {
  border-left: 1px solid #eee;
  border-right: 10px solid #eee;
  width: 50rem;
  position: relative;
  text-align: center;
}

.actionBar {
  position: relative;
  right: 0;
  bottom: 0;
  border-top: 1px solid #eee;
  width: 100%;
  z-index: -1;
}

.actionBar button {
  background-color: transparent;
  border: 0;
  color: #008BF8;
  cursor: pointer;
  padding: 1rem;
}

@media (max-width: 800px) {
  .portfolioList {
    width: 20rem;
  }
}
.portfolioList h3 {
  color: #999;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: Oxygen;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px 2rem;
}

.portfolioList ul#portfolios{
  border-top: 1px solid #eee;
  overflow-y: scroll;
  height: 80rem;
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  color: #999;
}

.portfolioList ul#portfolios a,
.portfolioList ul#portfolios a:active,
.portfolioList ul#portfolios a:hover,
.portfolioList ul#portfolios a:link,
.portfolioList ul#portfolios a:visited {
  color: inherit;
  text-decoration: none;
}

.portfolioList ul#portfolios>li {
  height: 100%;
  font-size: 90%;
  cursor: pointer;
  overflow: hidden;
}
.portfolioList ul#portfolios>a,
.portfolioList ul#portfolios>a * {
  -webkit-transition: background-color .1s ease-in-out, color .1s ease-in-out;
  -o-transition: background-color .1s ease-in-out, color .1s ease-in-out;
  transition: background-color .1s ease-in-out, color .1s ease-in-out;
}
.portfolioList ul#portfolios li .portfolio {
  border-top: 1px solid #eee;
  margin: 0 2rem;
  padding: 1rem 4px;
}
.portfolioList ul#portfolios a:first-of-type li .portfolio {
  border-top: none;
}
.portfolioList ul#portfolios li:hover,
.portfolioList ul#portfolios a.active li {
  background-color: #008bf8;
}
.portfolioList ul#portfolios li:hover,
.portfolioList ul#portfolios li:hover .portfolio *,
.portfolioList ul#portfolios a.active li,
.portfolioList ul#portfolios a.active li .portfolio-comments *,
.portfolioList ul#portfolios a.active li .portfolio-title,
.portfolioList ul#portfolios a.active li .portfolio-return {
  color: #fff !important;
  text-decoration: none !important;
}
.portfolioList ul#portfolios li:hover .portfolio,
.portfolioList ul#portfolios a.active li .portfolio {
  border-color: transparent;
}
.portfolioList ul#portfolios li .portfolio-title {
  color: #4a4a4a;
  font-family: Fauna One;
  font-size: 120%;
  font-weight: 400;
  white-space: nowrap;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.portfolioList ul#portfolios li .portfolio-comments {
  height: 54px;
  overflow: hidden;
  margin-top: .5rem;
}
.portfolioList ul#portfolios li .portfolio-comments * {
  font-size: 1em !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #999 !important;
  background: none;
  border: none;
}
.portfolioList ul#portfolios li .portfolio-return * {
  font-size: 1em !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #999 !important;
  background: none;
  border: none;
}

.portfolioList ul#portfolios li .portfolio {
  display: block;
  height: 150px;
  padding: 1em;
  text-decoration: none;
}

#printReport {
  position:absolute;
  right:30px;
}

.remove-portfolio {
  position: relative;
  
  background: none;
  border: none;
}